*{
    font-family: Arial, Helvetica, sans-serif;
}
/*       h  e  a  d  e  r        */
.header-img{
    background: url('../img/home-bg.jpg')center/cover;
    color: #fff;
    text-align: center;
}
.header-img-cnt{
    padding: 200px 0;
}
.text-1{
    font-size: 70px;
    margin-bottom: 20px;
}
.text-2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}
.header-img-btn{
    padding: 20px 30px;
    font-size: 15px;
    border: none;
    background-color: #eb5424;
    color: #fff;
    transition: .5s;
}
.header-img-btn:hover{
    background-color: #fff;
    color: #eb5424;
    cursor: pointer;
}
nav{
    padding: 10px;
}
.nav-logo{
    border-bottom: 1px solid #8a8a8a;
}
.nav-logo-link{
    font-size: 40px;
    font-weight: bold;
    color: #777;
    transition: .5s;
}
.nav-logo-link:hover{
    color: #5e5e5e;
}
.nav-list{
    text-align: center;
    margin-top: 20px;
}
.nav-li{
    margin-bottom: 30px;
}
.nav-link{
    text-transform: uppercase;
    font-size: 13px;
    color: #606060;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
@media only screen and (min-width:992px) {
    .container{
        max-width: 90%;
        margin: auto;
    }
    nav{
        padding: 20px;
    }
    .nav-logo{
        border: none;
        float: left;
    }
    .nav-list{
        text-align: start;
        margin: 0;
        float: right;
    }
    .nav-li{
        margin: 0;
        display: inline-block;
        margin-left: 20px;
    }
    .clear{
        clear: both;
    }
    .nav-link{
        font-size: 20px;
        padding-top: 10px;
    }
}
/*          m  a  i  n             */
/*          m  a  i  n  -  1           */
.main-1{
    background-color: #f8f8f8;
}
.main-1-cnt{
    padding: 150px 0;
    text-align: center;
    width: 90%;
    margin: auto;
}
.text-3{
    color: #605c5c;
    margin-bottom: 30px;
    font-size: 25px;
}
.text-4{
    margin-bottom: 30px;
    font-size: 35px;
}
.main-1-cnt hr{
    width: 100px;
    margin-bottom: 30px;
}
.text-5{
    color: #5e5e5e;
    line-height: 1.8em;
    font-size: 18px;
}
@media only screen and (min-width:992px) {
    .main-1-cnt{
        padding: 200px 0;
        width: 50%;
    }
}
/*       m  a  i  n  -  2       */
.main-2-cnt{
    padding: 100px 0 30px 0;
    text-align: center;
    width: 90%;
    margin: auto;
}
.text-6{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
}
.main-2-cnt hr{
    width: 100px;
    margin-bottom: 30px;
}
.text-7{
    font-size: 18px;
    color: #5e5e5e;
    line-height: 1.8em;
    font-weight: 500;
}
.box-1{
    text-align: center;
    padding: 70px;
    background-color: #303030;
    color: #fff;
    margin-bottom: 20px;
}
.main-2-boxs{
    width: 98%;
    margin: auto;
}
.box-1 i{
    font-size: 50px;
    margin-bottom: 40px;
    transition: .5s;
    padding: 30px;
    border: none;
}
.box-1 i:hover{
    cursor: pointer;
    background-color: #fff;
    color: black;
    border-radius: 50%;
}
.text-8{
    font-size: 30px;
    font-weight: bold;
}
@media only screen and (min-width:992px) {
    .main-2-cnt{
        float: left;
        width: 35%;
        padding: 50px 0;
    }
    .main-2-boxs{
        float: left;
        width: 65%;
    }
    .main-2::after{
        display: table;
        content: '';
        clear: both;
    }
    .row::after{
        display: table;
        content: '';
        clear: both;
    }
    .box-1{
        width: 50%;
        float: left;
        margin: 0;
        padding: 40px;
    }
    .main-2-cnt{
        padding: 100px 50px 30px 50px;
    }
}
/*          m  a  i  n  -  3          */
.main-3{
    background: url('../img/team-bg.jpg')center/cover;
    padding-top: 150px;
}
.container-1{
    color: #fff;
    text-align: center;
    max-width: 80%;
    margin: auto;
}
.text-9{
    margin-bottom: 20px;
    font-size: 48px;
}
.container-1 hr, .container-3 hr{
    width: 100px;
    margin-bottom: 20px;
}
.text-10{
    line-height: 1.8em;
}
.container-2{
    max-width: 90%;
    margin: auto;
    padding: 100px 0;
}
.container-2::after{
    display: table;
    content: '';
    clear: both;
}
.box-2{
    max-width: 40%;
    background-color: #eb5424;
    text-align: center;
    float: left;
    margin: 0 40px 40px 0;
}
.box-2 img{
    width: 100%;
}
.text-11{
    margin: 15px 0;
    font-weight: bold;
}
.text-12{
    padding-bottom: 20px;
    font-weight: bold;
    color: #fff;
}
@media only screen and (min-width:992px) {
    .box-2{
        max-width: 28%;
    }
    .container-1{
        max-width: 30%;
    }
    .container-2{
        max-width: 90%;
    }
}
/*      m  a  i  n  -  4       */
.main-4{
    padding: 150px 0;
    background-color: #f8f8f8;
}
.container-3{
    color: #000;
    text-align: center;
    max-width: 80%;
    margin: auto;
}
.container-4{
    max-width: 90%;
    margin: auto;
}
.row-img{
    margin-top: 70px;
}
.img-1{
    margin-bottom: 40px;
}
.img-1 img{
    width: 100%;
    opacity: .6;
    transition: .4s;
}
.img-1 img:hover{
    opacity: .9;
    cursor: pointer;
}
@media only screen and (min-width:992px) {
    .img-1{
        float: left;
        max-width: 21%;
        margin: 0 15px 0 20px;
    }
    .row-img{
        margin: 35px 0;
    }
    .row-img::after{
        display: table;
        content: '';
        clear: both;
    }
}
/*        m  a  i  n  -  5         */
.main-5{
    padding: 150px 0;
}
.container-5{
    max-width: 90%;
    margin: 5vh auto;
}
.item-1{
    text-align: center;
    background-color: #eb5424;
}
.item-1-title{
    background-color: #f6f6f6;
    padding: 40px 0;
}
.text-13{
    font-weight: bold;
    font-size: 25px;
}
.item-1-pay{
    padding: 30px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.text-14{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.text-15{
    font-size: 14px;
}
.item-1-cnt{
    padding: 40px 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.text-16{
    margin-bottom: 70px;
}
.item-1-btn{
    padding: 15px 25px;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: .5s;
}
.item-1-btn:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
@media only screen and (min-width:992px) {
    .container-5::after{
        display: table;
        content: '';
        clear: both;
    }
    .item-1{
        float: left;
        width: 30%;
        margin: 0 28px 0 0;
    }
}
/*     m  a  i  n  -  6         */
.main-6{
    background: url('../img/contact-bg.jpg')center/cover;
    padding: 150px 0;
}
.container-6{
    max-width: 90%;
    margin: 5vh auto;
}
.container-6 input, #area{
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-bottom: 15px;
}
.frm-btn{
    width: 100%;
    background-color: #eb5424;
    border: none;
    padding: 15px 10px;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.frm-btn:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
@media only screen and (min-width:992px) {
    .container-6{
        max-width: 35%;
    }
}
/*           m  a  i  n  -  7       */
.main-7 iframe{
    width: 100%;
}
/*   f  o  o  t  e  r     */
footer{
    background-color: #202020;
    border-bottom: 10px solid #fff;
    padding: 100px 20px 60px 20px;
    color: #fff;
    text-align: center;
}
.text-17{
    font-size: 35px;
}
.footer-list{
    max-width: 90%;
    margin: 0 auto 5vh auto;
}
.footer-list li{
    display: inline-block;
    margin: 30px 10px 0 10px;
}
.footer-list li a{
    padding: 20px;
    background-color: #fff;
    color: #eb5424;
    border-radius: 50%;
    font-size: 30px;
    transition: .5s;
}
.footer-list li a:hover{
    background-color: #000;
    cursor: pointer;
}
.text-18{
    line-height: 1.8em;
}
.text-18 a{
    color: #eb5424;
}
.text-18 a:hover{
    text-decoration: underline;
}